@tailwind base;
@tailwind components;
@tailwind utilities;
.border-sky-700 {
  border-color: #0369a1;
}
.border-green-700 {
  border-color: #15803d;
}
.border-amber-700 {
  border-color: #b45309;
}
.border-fuchsia-700 {
  border-color: #a21caf;
}
.hover-bg-sky-700:hover {
  background-color: #0369a1;
}
.hover-bg-green-700:hover {
  background-color: #15803d;
}
.hover-bg-amber-700:hover {
  background-color: #b45309;
}
.hover-bg-fuchsia-700:hover {
  background-color: #a21caf;
}
.active-bg-sky-900:active {
  background-color: #0c4a6e;
}
.active-bg-green-900:active {
  background-color: #14532d;
}
.active-bg-amber-900:active {
  background-color: #78350f;
}
.active-bg-fuchsia-900:active {
  background-color: #701a75;
}
